.container {
  align-items: center;
  border-top: 0 solid rgba(194, 180, 154, 0.5);
  color: #292929;
  display: flex;
  font-family: "PostGrotesk";
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 14px 0;
}

.bidder {
  align-items: center;
  display: flex;
  flex: 1;
}

.avatar {
  border-radius: 50%;
  height: 51px;
  width: 51px;
  overflow: hidden;
}

.name {
  font-weight: 400;
  margin-left: 25px;
}

.warningContainer {
  position: relative;
}

.warning {
  cursor: default;
  margin-left: 10px;
}

.warningMessage {
  background-color: #C4C4C4;
  border-radius: 5px;
  left: -85px;
  padding: 5px;
  position: absolute;
  top: 27px;
  width: 200px;
}

.arrow {
  background-color: #C4C4C4;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 22px;
  transform: rotate(45deg);
  width: 15px;
}

.bid {
  color: #000000;
  flex: 1;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .bidder img {
    display: none !important;
  }

  .name {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-left: 0;
  }

  .bid {
    font-size: 14px !important;
  }
}
