.lot {
  border-radius: 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 12px 68px;
  max-width: 432px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.imageWrapper {
  position: relative;
  height: 415px;
  width: 432px;
}

.lot .image {
  border-radius: 16px;
  background-color: #CCCCCC;
}

.video {
  background-color: #CCCCCC;
  border-radius: 16px;
  height: 100%;
  width: 432px;
}

.lot .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  overflow: hidden;
  white-space: nowrap;
}

.lot h3 {
  font-family: "PostGrotesk";
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lot p {
  font-family: "PostGrotesk";
  font-size: 14px;
  margin: 3px 0;
}

.lot .id {
  color: #ff00ff;
  font-weight: 700;
}

.lot p span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .lot {
    margin: 0 auto 68px;
  }
}

@media screen and (max-width: 500px) {
  .imageWrapper {
    width: 100%;
  }
  
  .video {
    width: 100%;
  }
}
