.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalContent {
  position: fixed;
  background: white;
  width: 80%;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 45px 61px;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  background: transparent;
  border: none;
  font-size: 24px;
}

.modalTitle {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 38px;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -36px;
}

.bidContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectBidContainer {
  font-weight: 700;
  height: 40px;
  flex: 0.5 1;
  border-radius: 8px;
  font-family: 'PostGrotesk';
}

.selectBid__control {
  background: none;
  border: none;
}

.separator {
  border: 1px solid #E4E4E4;
  border-bottom: none;
}

.maxTotalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'PostGrotesk';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #292929;
}

.disclaimerContainer {
  display: flex;
  flex-direction: row;
  font-family: 'PostGrotesk';
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

.disclaimerText{
  margin: 0;
  margin-left: 16px;
}

.lotDescription {
  font-family: "PostGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.detailLeft {
  margin: 0 36px 40px;
}

.image, .video {
  border-radius: 16px;
  object-fit: cover;
}

.detailRight {
  margin: 0 36px;
  width: 432px;
}

.button {
  align-items: center;
  background-color: #ff00ff;
  border: none;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  font-family: "IBMPlexMono";
  font-size: 26px;
  font-weight: 700;
  height: 78px;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.button:disabled,
.button[disabled]{
  background-color: #C4C4C4;
  color: #000000;
  cursor: initial;
}

.currentBid {
  background-color: #29abe2;
  color: #ffffff;
  border-radius: 8px;
  padding: 3px 8px;
  margin-bottom: 18px; 
}

@media screen and (max-width: 767px) {
  .modalContent {
    padding: 45px 15px;
    width: 90%;
  }

  .modalTitle {
    font-size: 20px;
  }

  .detailContainer {
    margin: 0;
  }

  .detailLeft {
    margin: 0 0 40px;
    width: 100%;
  }

  .detailRight {
    margin: 0;
    width: 100%;
  }

  .image, .video {
    height: auto;
    max-height: 500px;
    width: 100%;
  }

  .button {
    border-radius: 8px;
    font-size: 20px;
    height: 56px;
  }

  .closeButton img {
    width: 15px !important;
  }
}
