.container {
  align-items: center;
  border-top: 0 solid rgba(194, 180, 154, 0.5);
  color: #292929;
  display: flex;
  font-family: "PostGrotesk";
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 14px 0;
}

.bidder {
  align-items: center;
  display: flex;
  flex: 1;
}

.name {
  font-weight: 400;
  margin-left: 25px;
}

.bid {
  color: #000000;
  flex: 1;
  text-align: right;
}
