.container {
  color: #292929;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1116px;
  width: 100%;
}

.title {
  font-family: "IBMPlexMono";
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 22px;
}

.table {
  position: relative;
}

@media screen and (max-width: 1115px) {
  .container {
    padding: 0 30px;
  }
}
