.container {
  align-items: center;
  display: flex;
  height: 82px;
  justify-content: space-between;
  padding: 0 48px;
}

.logo {
  display: flex;
}

.icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px){
  .container {
    height: 50px;
    padding: 0 16px;
  }

  .logo > * {
    height: 24px !important;
    width: 142px !important;
  }
  
  .button button {
    font-size: 16px;
    height: 35px;
    padding: 0 28px;
  }

  .button .icon svg {
    height: 11px;
    width: 14px;
  }
}
