.lot {
  border-radius: 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 12px 68px;
  max-width: 400px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.lot .image {
  background-color: #CCCCCC;
  border-radius: 16px;
}

.video {
  background-color: #CCCCCC;
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.lot .tagContainer {
  align-self: flex-start;
  margin: 16px 0 12px;
}

.lot .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

.lot h2 {
  font-family: "PostGrotesk";
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lot p {
  font-family: "PostGrotesk";
  font-size: 14px;
  margin: 3px 0;
}

.lot .id {
  color: #ff00ff;
  font-weight: 700;
}

.lot p span {
  font-weight: 700;
}

@media screen and (max-width: 767px){
  .lot {
    margin: 0 auto 68px;
  }
}
