.tag {
  align-self: flex-start;
  background-color: #29abe2;
  border-radius: 6px;
  color: #fff;
  font-family: "PostGrotesk";
  font-size: 14px;
  padding: 4px 8px;
}

.tag span {
  font-weight: 700;
}
